@import '../../commons/styles/variables.scss';

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .favorite-page-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    background-color: $color-primary;
    color: $color-white;
    overflow: hidden;
    background: linear-gradient(145deg, #323232, #3c3c3c);
    box-shadow: 5px 5px 10px #1b1b1b, -5px -5px 10px #555555;
    border-radius: 50px;
    padding: 1em 2em;
    cursor: pointer;

    transition: transform 0.05s ease-in-out;

    &:active {
      transform: scale(0.95);
    }

    &-icon {
      margin-left: 20px;
      width: 30px;
      border-radius: 50px;

      background: #474747;
      box-shadow: inset 5px 5px 10px #363636, inset -5px -5px 10px #585858;
    }
  }
}
